.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 700px;
	width: 100%;
	height: calc(91vh - 225px);
}

.Find-Id-Form2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80%;
	gap: 50px;
	border-radius: 10px;
}

.find-Id-text2 {
	height: 20%;
	/* 부모인 login-form의 20%를 차지하도록 설정 */
	position: relative;
	display: flex;
	align-items: center;
	/* 세로 가운데 정렬 */
	justify-content: center;
	/* 가로 가운데 정렬 */
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 48px;
	text-align: center;
	letter-spacing: 0;
	white-space: nowrap;
	margin-bottom: 20px; /* 제목과 입력 필드 사이 간격 추가 */
}

.mid {
	border: 3px solid #9B9B9B;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: 60%;
	padding: 30px;
}

table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

th, td {
	border-bottom: 3px solid #A5A5A5;
	padding: 20px;
	text-align: center;
	font-weight: 700;
}

th {
	font-size: 30px;
}

td {
	font-size: 24px;
}
.bottom {
	display: flex;
	justify-content: center;
	height : 20%;
}
.action-button {
	width: 100%;
	/* 입력창과 동일한 너비로 설정 */
	height: 100%;
	display: flex;
	/* 플렉스박스를 사용하여 정렬 */
	align-items: center;
	/* 세로 가운데 정렬 */
	justify-content: center;
	/* 가로 가운데 정렬 */
	background-color: #000000;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
	margin: 0 auto;
	/* 버튼을 가운데로 정렬 */
	padding: 50px;
	/* 패딩을 추가하여 버튼 크기를 적절히 조절 */
	font-size: 48px;
	/* 글씨 크기를 48px로 유지 */
}