@charset "UTF-8";

/* Body */
.footer {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  width: 100vw;
  background: #edf8e8;
}

/* Footer Top */
.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 150px 20px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

/* Company, CEO, Worker Container */
.company,
.ceo,
.worker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

/* Text Styling */
.CEO,
.worker div {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #12690b;
  white-space: nowrap;
}

.foodpia {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #12690b;
  white-space: nowrap;
  font-size: 32px;
}

/* Adjusted Font Size and Spacing for CEO and Worker */
.CEO,
.worker div {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-weight: 600;
}

.worker div {
  padding: 0 20px;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 30px;
  width: 100%;
}

/* URL Styling */
.url {
  font-family: "Roboto-Regular", Helvetica;
  font-size: 12px;
  color: #12690b;
  text-align: center;
}