@charset "UTF-8";

body {
	box-sizing: border-box;

}

input:focus, button:focus {
	outline: none;
}

button {
	background: none;
	border: none;
	outline: none;
	font-family: "Roboto-Regular", Helvetica;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
}

input::placeholder {
	color: #cacccb;
}

/* 로그인, 회원가입 섹션 */
.login-signup {
	position: absolute;
	top: 0;
	right: 17%;
	display: flex;
	gap: 20px;
	font-size: 8px;
}

.login-signup a {
	text-decoration: none;
	color: black;
}

.login-button {
	border-right: 2px solid #b3b3b3;
	padding-right: 10px;
}

.user-info {
	position: absolute;
	top: 0;
	right: 17%;
	display: flex;
	gap: 10px;
	font-size: 14px;
}

.user-welcome {
	display: flex;
	align-items: center;
}

.user-info a {
	text-decoration: none;
	font-size: 14px;
	color: #838282;
	font-weight: 700;
}

/* 헤더 중간 부분 */
.header-mid {
	box-sizing: border-box;
	display: flex;
	height: 75px;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding-left: 17%;
	padding-right: 17%;
	width: 90vw;
}

/* 장바구니와 마이페이지 섹션 */
.cart-mypage {
	display: flex;
	width: 50px;
	align-items: center;
	justify-content: center;
	gap: 40px;
	flex-grow: 0;
	margin-left: 10px;
	position: relative;
}

.cart-mypage img {
	width: 35px;
	height: 35px;
}

/* 홈 버튼 */
.home-button {
	font-family: "Black Han Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #12690b;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	flex-grow: 0;
}

.home-button a {
	text-decoration: none;
	color: #12690b;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 검색바 */
.search-bar {
	display: flex;
	width: auto;
	height: 50px;
	background: #e2eee969;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 0 50px 0 16px;
	border-radius: 50px;
	border: none;
	flex-grow: 2;
}

.search-icon {
	max-width: 45px;
	max-height: 45px;
}

.search-input-blank {
	font-weight: 400;
	color: #575757;
	font-size: 20px;
	display: flex;
	align-items: center;
	flex: 1;
	background: none;
	outline: none;
	border: none;
}

.search-input-blank input::placeholder {
	color: #cacaca;
}

/* 메뉴 섹션 */
.menu {
	display: flex;
	flex-direction: row;
	height: 9vh;
	align-items: center;
	justify-content: center;
	background: #edf8e8;
	padding-left: 17%;
	padding-right: 17%;
}

.menu-list {
	display: flex;
	justify-content: center;
	width: 45vw;
}

.menu-list :hover {
	color: #0b915d;
	background: #b3dabf;
	border-radius: 5px;
	width: 9vw;
}

.menu-list button {
	padding: 10px;
	border-radius: 5px;
}

.menu-list a {
	text-decoration: none;
	color: #12690b;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 카테고리 버튼 */
.category-button {
	display: flex;
	flex-direction: row;
	min-width: 150px;
	width: 180px;
	height: 50px;
	align-items: center;
	justify-content: center;
	background-color: #12690b;
	border: 1px solid #dadada;
}

.category-button a {
	text-decoration: none;
	color: black;
}

.category-button img {
	margin: 5 9 5 10;
	height: 3vw;
}

.category {
	font-weight: 700;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

/* 메뉴 버튼들 */
button.event-btn, button.popular-btn, button.luckybox-btn, button.inquiry-btn,
	button.admin-btn {
	font-weight: 700;
	color: #12690b;
	font-size: 18px;
	text-align: center;
	width: 200px;
}