@charset "UTF-8";
body {
  margin: auto;
  box-sizing: border-box;  
}

input:focus,
button:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: "Roboto-Regular", Helvetica;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  background-color: #ffffff;
}

.home-button {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #12690b;
  font-size: 32px;
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 50px 0 16px;
  background-color: #f2f4f8;
  border-radius: 5px;
  border: 1px solid #c1c7cd;
  flex: 1;
}

.search-icon {
  max-width: 45px;
  max-height: 45px;
}

.search-input-blank {
  font-weight: 400;
  color: #c1c1c1;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex: 1;
  background: none;
  outline: none;
  border: none;
}

.cart-login {
  display: flex;
  min-width: 250px;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  flex: 1;
}

.shopping-cart-button,
.login-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;    
}

.shopping-cart-icon {
  max-width: 40px;
  max-height: 40px;
}

.shopping-cart-text,
.login-text {
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.menu {
  display: flex;
  height: 9vh;
  align-items: center;
  justify-content: center;  
  background-color: #edf8e8;
}

.menu-list{
  display: flex;
  justify-content: center;
  width: 45vw;
}

.menu-list :hover{
  color: #0b915d;
  background: #51ac6c38;
  height: 6vh;
  border-radius: 5px;
}

.category-button {
  display: flex;
  min-width: 150px;
  max-width: 200px;
  align-items: center;
  padding: 4px 16px;
  background-color: #12690b;
  border: 1px solid #dadada;
  backdrop-filter: blur(4px) brightness(100%);
}

.category {
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

button.event-btn,
button.popular-btn,
button.luckybox-btn,
button.inquiry-btn,
button.admin-btn {
  font-weight: 700;
  color: #12690b;
  font-size: 18px;
  text-align: center;  
  width: 200px;
}
.menu-list a,
.home-button a{
  text-decoration: none;
  color: #12690b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-button a{
  text-decoration: none;
  color : black;
}

.loging a,
.not-login{
  text-decoration: none;
  color : black;
}
