<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
    <resultMap type="Member" id="memberResultSet">
    <!-- 컬럼 매핑 -->
        <result column="USER_ID" property="userId" />
        <result column="USER_PWD" property="userPwd" />
        <result column="USER_NAME" property="userName" />
        <result column="GENDER" property="gender" />
        <result column="USER_BIRTHDAY" property="birthday" />
        <result column="USER_EMAIL" property="email" />
        <result column="USER_PHONE" property="phone" />
        <result column="USER_ENROLL_DATE" property="enrollDate" />
        <result column="USER_DELFLAG" property="delFlag" />
        <result column="USER_DELETE_DATE" property="deleteDate" />
        <result column="USER_GRADE" property="grade" />
        <result column="USER_ADDRESS" property="address" />
        <result column="GRADE_ADMIN" property="admingrade" />
        <result column="USER_COIN" property="userCoin" />
    </resultMap>

     <!-- 로그인 쿼리 -->
    <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
        SELECT USER_ID,
               USER_PWD,
               USER_NAME,
               GENDER,
               USER_BIRTHDAY,
               USER_EMAIL,
               USER_PHONE,
               USER_ENROLL_DATE,
               USER_DELFLAG,
               USER_DELETE_DATE,
               USER_GRADE,
               USER_ADDRESS,
               GRADE_ADMIN,
               USER_COIN
        FROM MEMBER
        WHERE USER_ID = #{userId}
          AND USER_PWD = #{userPwd}
    </select>


    <!-- 이름으로 회원 검색 쿼리 (오라클용) -->
    <select id="searchMembersByName" parameterType="String" resultMap="memberResultSet">
        SELECT USER_ID,
               USER_PWD,
               USER_NAME,
               GENDER,
               USER_BIRTHDAY,
               USER_EMAIL,
               USER_PHONE,
               USER_ENROLL_DATE,
               USER_DELFLAG,
               USER_DELETE_DATE,
               USER_GRADE,
               USER_ADDRESS,
               GRADE_ADMIN,
               USER_COIN
        FROM MEMBER
        WHERE USER_NAME LIKE '%' || #{name} || '%'
    </select>

    <!-- 전화번호로 회원 검색 쿼리 -->
    <select id="searchMembersByPhone" parameterType="String" resultMap="memberResultSet">
        SELECT USER_ID,
               USER_PWD,
               USER_NAME,
               GENDER,
               USER_BIRTHDAY,
               USER_EMAIL,
               USER_PHONE,
               USER_ENROLL_DATE,
               USER_DELFLAG,
               USER_DELETE_DATE,
               USER_GRADE,
               USER_ADDRESS,
               GRADE_ADMIN,
               USER_COIN
        FROM MEMBER
        WHERE USER_PHONE = #{phone}
    </select>

</mapper>
