<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Semi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberLogin.do</display-name>
    <servlet-name>MemberLogin.do</servlet-name>
    <servlet-class>com.semi.member.controller.MemberLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin.do</servlet-name>
    <url-pattern>/MemberLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindId1.do</display-name>
   <servlet-name>FindId1.do</servlet-name>
    <servlet-class>com.semi.member.controller.MemberFindId1Controller</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>FindId1.do</servlet-name>
    <url-pattern>/FindId1.do</url-pattern>
</servlet-mapping>
</web-app>