.find-id {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: #ffffff;
}

.find-id .header {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  width: 100%;
  background-color: #ffffff;
}

.find-id .top {
  display: flex;
  height: 75px;
  align-items: center;
  gap: 50px;
  padding: 15px 230px;
  width: 100%;
}

.find-id .home-button,
.find-id .category-button,
.find-id .text-wrapper-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-id .text-wrapper {
  font-family: "Roboto-Regular", Helvetica;
  color: #12690b;
  font-size: 24px;
  text-align: center;
}

.find-id .search-bar {
  display: flex;
  max-width: 550px;
  align-items: center;
  padding: 0 50px 0 16px;
  background-color: #f2f4f8;
  border-radius: 5px;
  border: 1px solid #c1c7cd;
}

.find-id .search-icon {
  max-width: 45px;
  max-height: 45px;
}

.find-id .search-input-text .div {
  font-family: "Roboto-Regular", Helvetica;
  color: #c1c1c1;
  font-size: 20px;
}

.find-id .cart-login,
.find-id .shopping-cart-text,
.find-id .login-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-id .shopping-cart-icon {
  width: 40px;
}

.find-id .text-wrapper-2,
.find-id .text-wrapper-3 {
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  text-align: center;
}

.find-id .menu {
  display: flex;
  height: 75px;
  align-items: center;
  gap: 50px;
  padding: 8px 150px;
  width: 100%;
  background-color: #edf8e8;
}

.find-id .category-button {
  padding: 4px 16px;
  background-color: #12690b;
  border: 1px solid #dadada;
}

.find-id .text-wrapper-4 {
  font-family: "Roboto-Bold", Helvetica;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.find-id .text-wrapper-5 {
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16px;
  color: #12690b;
  text-align: center;
}

.find-id .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 700px;
  width: 100%;
  height: calc(100vh - 300px);
}

.find-id .Find-Id-Form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  gap: 50px;
  border-radius: 10px;
}

.find-id .find-Id-text2 {
  width: 60%;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 20%;
}

.find-id .mid {
  border: 3px solid #9B9B9B;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 60%;
  padding: 30px;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 3px solid #A5A5A5;
  padding: 20px;
  text-align: center;
  font-weight: 700;
}

th {
  font-size: 30px;
}

td {
  font-size: 24px;
}

.find-id .login-button-2 {
  display: flex;
  width: 60%;
  height: 20%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 48px;
}

.find-id .footer {
  width: 100%;
  height: 150px;
  background-color: #edf8e8;
}

.find-id .company .foodpia,
.find-id .ceo .CEO,
.find-id .worker .JM,
.find-id .worker .YD,
.find-id .worker .HS,
.find-id .worker .JH,
.find-id .worker .SH {
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  text-align: center;
}

.find-id .url {
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  color: #000;
}