.find-id {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: calc(91vh - 225px);
    /* 150px씩 상하 여백을 뺀 높이 */

}

.find-id-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 폼 내부 요소들을 중앙에 정렬 */
  gap: 10px;
  width: 100%;
  max-width: 600px;
  height: 40vh;
  /* 화면 높이의 60%로 설정 */

}

.body .find-id-text {
    background-color: #f2f4f8;
    width: 100%;
    height: 20%;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    text-align: center;
    display: flex;
    /* Flexbox 사용 */
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    border-radius: 10px;
    padding: 20px;
}

.mid {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.name-function, .phone-function {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    /* 각 섹션이 50%씩 차지하도록 설정 */

}

.name-blank,
.phone-blank {
    display: flex;
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: flex-start;
    /* 가로는 왼쪽 정렬 */
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    height: 50%;
    /* 부모 높이의 절반을 차지 */
    padding-left: 5px;
    /* 레이블과 입력 필드 사이의 간격 */
}

input::placeholder {
    font-size: 20px;
}

.input-field {
    width: 100%;
    height: 50%;
    font-size: 18px;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border-color: #12690b;
}

.find-button {
  width: 100%;
  /* 입력창과 동일한 너비로 설정 */
  height: 25%;
  display: flex;
  /* 플렉스박스를 사용하여 정렬 */
  align-items: center;
  /* 세로 가운데 정렬 */
  justify-content: center;
  /* 가로 가운데 정렬 */
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  /* 버튼을 가운데로 정렬 */
  text-decoration: none;
  font-size: 48px;
  /* 글씨 크기를 48px로 유지 */
}


