@charset "UTF-8";

.login-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: flex-start;
	position: relative;
	background-color: #ffffff;
}

.login-page .header {
	display: flex;
	flex-direction: column;
	max-height: 150px;
	align-items: flex-start;
	position: relative;
	flex: 1;
	align-self: stretch;
	width: 100%;
	flex-grow: 1;
	background-color: #ffffff;
}

.login-page .top {
	justify-content: center;
	gap: 50px;
	padding: 15px 230px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	width: 100%;
	flex-grow: 1;
}

.login-page .home-button {
	display: flex;
	max-width: 150px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .text-wrapper {
	color: #12690b;
	font-size: 24px;
	line-height: 26.4px;
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0;
}

.login-page .search-bar {
	display: flex;
	min-width: 550px;
	max-width: 900px;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 0px 50px 0px 16px;
	background-color: #f2f4f8;
	border-radius: 5px;
	border: 1px solid;
	border-color: #c1c7cd;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .search-icon {
	max-width: 45px;
	max-height: 45px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .search-input-text {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .div {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: #c1c1c1;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 20px;
}

.login-page .cart-login {
	display: flex;
	min-width: 250px;
	max-width: 350px;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
	background-color: #ffffff;
}

.login-page .shoppin-cart-button {
	display: flex;
	max-width: 150px;
	align-items: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
	border-radius: 100px;
}

.login-page .shopping-cart-icon {
	max-width: 40px;
	width: 40px;
	max-height: 40px;
	position: relative;
	align-self: stretch;
}

.login-page .shopping-cart-text {
	display: flex;
	max-width: 200px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex: 1;
	flex-grow: 1;
	position: relative;
	align-self: stretch;
}

.login-page .text-wrapper-2 {
	position: relative;
	flex: 1;
	height: 43px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0;
	line-height: 17.6px;
}

.login-page .login-button {
	display: flex;
	max-width: 120px;
	align-items: center;
	justify-content: center;
	flex: 1;
	flex-grow: 1;
	border-radius: 100px;
	position: relative;
	align-self: stretch;
}

.login-page .login-icon {
	width: 45px;
	position: relative;
	align-self: stretch;
}

.login-page .login-text {
	display: flex;
	max-width: 60px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex: 1;
	flex-grow: 1;
	position: relative;
	align-self: stretch;
}

.login-page .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 8px 150px;
	width: 100%;
	background-color: #edf8e8;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .category-button {
	display: flex;
	min-width: 150px;
	max-width: 200px;
	max-height: 50px;
	align-items: center;
	justify-content: center;
	padding: 4px 16px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
	background-color: #12690b;
	border: 1px solid;
	border-color: #dadada;
	backdrop-filter: blur(4px) brightness(100%);
	-webkit-backdrop-filter: blur(4px) brightness(100%);
}

.login-page .img {
	max-width: 50px;
	max-height: 45px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .text-wrapper-4 {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
	line-height: 20px;
}

.login-page .navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .text-wrapper-5 {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Bold", Helvetica;
	font-weight: 700;
	color: #12690b;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0;
	line-height: 16px;
}

.login-page .body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 50px 800px 50px;
	position: relative;
	flex: 1;
	align-self: stretch;
	width: 100%;
	flex-grow: 1;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* 폼 내부 요소들을 중앙에 정렬 */
	gap: 10px;
	width: 100%;
	height: 50vh;
	/* 화면 높이의 60%로 설정 */
}

.login-page .body .login-form .text-wrapper-6 {
	height: 20%;
	/* 부모인 login-form의 30%를 차지하도록 설정 */
	position: relative;
	display: flex;
	align-items: center;
	/* 세로 가운데 정렬 */
	justify-content: center;
	/* 가로 가운데 정렬 */
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 64px;
	text-align: center;
	letter-spacing: 0;
	white-space: nowrap;
}

.login-page .body .login-form .mid {
	height: 40%;
	/* 중간 섹션은 50% */
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	/* 가로 중앙 정렬 */
	justify-content: center;
	/* 세로 중앙 정렬 */
	padding: 0px 30px 30px;
	position: relative;
	flex: 1;
	align-self: stretch;
	width: 100%;
	flex-grow: 1;
}

.login-page .mid-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* 가로 중앙 정렬 */
	justify-content: center;
	/* 세로 중앙 정렬 */
	gap: 20px;
	width: 100%;
	height: 50%;
	position: relative;
	flex: 1;
	align-self: center;
	flex-grow: 1;
}

.input-field {
	width: 70%;
	/* 너비를 100%로 설정 */
	height: 30%;
	/* 부모 요소 높이의 20%로 설정 */
	padding: 10px;
	font-size: 18px;
	border: 1px solid #9b9b9b;
	border-radius: 10px;
	box-sizing: border-box;
}

/* input 필드에 포커스 되었을 때 스타일 */
.input-field:focus {
	outline: none;
	border-color: #12690b;
	/* 포커스 시 테두리 색상 변경 */
}

.login-page .text-wrapper-7 {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: #9b9b9b;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 33.6px;
}

/* 로그인 버튼을 가운데 정렬 */
.login-button-2 {
	width: 70%;
	/* 입력창과 동일한 너비로 설정 */
	height: 25%;
	display: flex;
	/* 플렉스박스를 사용하여 정렬 */
	align-items: center;
	/* 세로 가운데 정렬 */
	justify-content: center;
	/* 가로 가운데 정렬 */
	background-color: #000000;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
	margin: 0 auto;
	/* 버튼을 가운데로 정렬 */
	padding: 20px;
	/* 패딩을 추가하여 버튼 크기를 적절히 조절 */
	font-size: 48px;
	/* 글씨 크기를 48px로 유지 */
}

.login-page .text-wrapper-8 {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	letter-spacing: 0;
	line-height: 67.2px;
}

.login-page .body .login-form .bottom {
	width: 100%;
	max-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .find-id {
	gap: 10px;
	padding: 0px 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .sign-up {
	gap: 10px;
	padding: 0px 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .find-pwd {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0px 1px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #d9d9d9;
}

/* 버튼 스타일 */
.action-button {
	display: inline-block;
	/* 버튼처럼 보이도록 block 요소로 설정 */
	width: 100%;
	padding: 10px;
	font-size: 18px;
	background-color: transparent;
	/* 투명 배경 */
	color: #000000;
	/* 검은색 글씨 */
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-decoration: none;
	/* a 태그의 밑줄 제거 */
}

/* 버튼을 클릭했을 때 */
.action-button:active {
	font-weight: bold;
}

.login-page .footer {
	display: flex;
	flex-direction: column;
	max-height: 150px;
	height: 150px;
	align-items: flex-start;
	padding: 1px 0px;
	position: relative;
	align-self: stretch;
	width: 100%;
	background-color: #edf8e8;
}

.login-page .top-2 {
	gap: 20px;
	padding: 7px 150px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #d9d9d9;
	display: flex;
	align-items: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	width: 100%;
	flex-grow: 1;
}

.login-page .company {
	display: flex;
	max-width: 250px;
	align-items: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .text-wrapper-11 {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: var(--x-6);
	font-size: 24px;
	letter-spacing: 0;
	line-height: 26.4px;
}

.login-page .ceo {
	display: flex;
	max-width: 250px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .text-wrapper-12 {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: var(--x-6);
	font-size: 16px;
	text-align: center;
	letter-spacing: 0;
	line-height: 22.4px;
}

.login-page .employee {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
	padding: 12px 8px;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .frame-2 {
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
	padding: 0px 12px 0px 13px;
	display: flex;
	position: relative;
	flex: 1;
	align-self: stretch;
	flex-grow: 1;
}

.login-page .url {
	display: flex;
	max-height: 50px;
	align-items: flex-end;
	justify-content: center;
	gap: 10px;
	padding: 10px 30px;
	position: relative;
	flex: 1;
	align-self: stretch;
	width: 100%;
	flex-grow: 1;
}

.login-page .p {
	position: relative;
	flex: 1;
	align-self: stretch;
	margin-top: -1px;
	font-family: "Roboto-Regular", Helvetica;
	font-weight: 400;
	color: var(--x-6);
	font-size: 14px;
	letter-spacing: 0;
	line-height: 19.6px;
}