@charset "UTF-8";
.order-management {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

.order-management .header { /* 수정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.order-management .head-button { /* 수정 */
    background-color: #edf8e8;
    font-weight: 700;
    color: #12690b;
    font-size: 24px;
    border: 1px solid #edf8e8;
    padding: 10px;
    width: 100%;
}
.order-management .head-button:hover { /* 수정 */
    background-color: #dceed4;
}

.order-management .menu { /* 수정 */
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #edf8e8;
    padding: 10px 0;
}

.order-management .admin-page .text-wrapper { /* 수정 */
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #12690b;
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
}

.order-management .top-2 { /* 수정 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    padding: 50px;
    width: 100%;
}

.order-management .body { /* 수정 */
    flex: 1;
    padding: 0px 20px 20px 20px;
    background-color: #ffffff;
}

.order-management .search-bar { /* 수정 */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.order-management .dropdown-toggle, .search-button { /* 수정 */
    width: 100px;
}

.order-management .form-control { /* 수정 */
    width: 500px;
    min-width: 200px;
}

.order-management .bottom { /* 수정 */
    width: 100%;
    padding: 10px 0;
}

.order-management .member-table { /* 수정 */
    width: 100%;
    margin-top: 20px;
}

/* Flexbox를 사용해 가로로 정렬 */
.order-management .order-state { /* 수정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.order-management .order-info { /* 수정 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.order-management .check-state, .total-order-amount { /* 수정 */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.order-management .cancel-button { /* 수정 */
    margin-left: auto; /* 오른쪽으로 이동 */
    width: 150px;
    display: flex; /* 버튼을 중앙 정렬 */
    justify-content: flex-end; /* 오른쪽 정렬 */
}
