:root {
  --x-6: rgba(237, 248, 232, 1);
  --coolgray-30: rgba(193, 199, 205, 1);
  --coolgray-90: rgba(33, 39, 42, 1);
  --coolgray-10: rgba(242, 244, 248, 1);
  --other-menu-m-font-family: "Roboto", Helvetica;
  --other-menu-m-font-weight: 400;
  --other-menu-m-font-size: 16px;
  --other-menu-m-letter-spacing: 0px;
  --other-menu-m-line-height: 100%;
  --other-menu-m-font-style: normal;
  --heading-2-font-family: "Roboto", Helvetica;
  --heading-2-font-weight: 400;
  --heading-2-font-size: 42px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 110%;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Roboto", Helvetica;
  --heading-3-font-weight: 400;
  --heading-3-font-size: 32px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 110%;
  --heading-3-font-style: normal;
}