<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SemiProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>MainPage.html</welcome-file>
    <welcome-file>MainPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLogin.do</display-name>
    <servlet-name>adminLogin.do</servlet-name>
    <servlet-class>com.semi.member.controller.AdminMemberLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin.do</servlet-name>
    <url-pattern>/adminLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>luckyboxshow.bo</display-name>
    <servlet-name>luckyboxshow.bo</servlet-name>
    <servlet-class>com.semi.product.controller.LuckyBoxShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>luckyboxshow.bo</servlet-name>
    <url-pattern>/luckyboxshow.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>popularitems.bo</display-name>
    <servlet-name>popularitems.bo</servlet-name>
    <servlet-class>com.semi.product.controller.PopularItemsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>popularitems.bo</servlet-name>
    <url-pattern>/popularitems.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactpage.bo</display-name>
    <servlet-name>contactpage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.ContactPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactpage.bo</servlet-name>
    <url-pattern>/contactpage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mypage.bo</display-name>
    <servlet-name>mypage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.MyPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypage.bo</servlet-name>
    <url-pattern>/mypage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shoppingcartpage.bo</display-name>
    <servlet-name>shoppingcartpage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.ShoppingcartPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingcartpage.bo</servlet-name>
    <url-pattern>/shoppingcartpage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productpage.bo</display-name>
    <servlet-name>productpage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.ProductPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productpage.bo</servlet-name>
    <url-pattern>/productpage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>memberdel.do</display-name>
    <servlet-name>memberdel.do</servlet-name>
    <servlet-class>com.semi.member.controller.AdminMemberManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberdel.do</servlet-name>
    <url-pattern>/memberdel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentinformationpage.bo</display-name>
    <servlet-name>paymentinformationpage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.PaymentInformationPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentinformationpage.bo</servlet-name>
    <url-pattern>/paymentinformationpage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>couponpage.bo</display-name>
    <servlet-name>couponpage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.CouponPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>couponpage.bo</servlet-name>
    <url-pattern>/couponpage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderpage.bo</display-name>
    <servlet-name>orderpage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.OrderPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderpage.bo</servlet-name>
    <url-pattern>/orderpage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mygradepage.bo</display-name>
    <servlet-name>mygradepage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.MyGradePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mygradepage.bo</servlet-name>
    <url-pattern>/mygradepage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mycouponpage.bo</display-name>
    <servlet-name>mycouponpage.bo</servlet-name>
    <servlet-class>com.semi.product.controller.MyCouponPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mycouponpage.bo</servlet-name>
    <url-pattern>/mycouponpage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toss.bo</display-name>
    <servlet-name>toss.bo</servlet-name>
    <servlet-class>com.semi.product.controller.TossMainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toss.bo</servlet-name>
    <url-pattern>/toss.bo</url-pattern>
  </servlet-mapping>
</web-app>